
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Open Sans Semibold;

}

    .main {
        width: 100%;
        background: #f5f5f5;

        .text-center-h1 {
            width: 703px;
            padding-top: 145px;
            margin: 0 auto;
            text-align: center;
        
        h1{
            font-size: 50px;
            font-family: Open Sans Semibold;
            color: #6f6f6f;

            span {
                color: #fc6744;
            }
        }

        p {
            font-size: 16px;
            font-family: Open Sans;
            color: #6f6f6f;
        }
        }

        .header {
            padding: 82px 150px 0 150px;
            height: 930px;
            position: relative;

            .container-fluid {
                padding: 0;
                .row {
                    margin: 0;
                    justify-content: space-between;
                    .col-1{
                        padding: 0;
                        width: 34px;
                        height: 28px;
                    }
                    .logo {
                        text-align: center;
                        border: 4px solid #706b73;
                        width: 150px;
                        height: 55px;
                            a {
                                text-decoration: none;
                                font-family: Open Sans Semibold;
                                font-size: 35px;
                                color: #6f6f6f;
                            }
                            span {
                                color: #fc6744;
                            }
                    }
                }
            }

            
            form {
                width: 372px;
                height: 388px;
                border-radius: 2px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);              
                margin-top: 130px;
                
                h1{
                    font-size: 20px;
                    text-align: center;
                    padding-top: 25px;
                }
                span {
                    color: #fc6744;
                }
                .mb-3 {
                    padding: 0 34px;
                    input {
                        border-top:none ;
                        border-right:none ;
                        border-left:none ;
                        border-color: #00000022;
                    }
                    .coment {
                        height: 70px;
                    }
                }
                button {
                    width: 238px;
                    height: 55px;
                    border-radius: 27px;
                    background-color: #ff5c36;
                    border: none;
                    margin: 0 67px;

                    &::after{                    
                        content: url(./image/arrow_right.png);
                        padding-left: 15px;            

                    }
                }


            }
        }

        .work_procces {
            height: 775px;
            padding: 0 150px;
            background: #ffffff;
            position: relative;
        }

        .card-group {
            padding-top: 110px;
        
            .card {
                width: 262px;
                height: 262px;

                &:not(:last-child){
                margin-right: 30px;
            }
        
            .card-img-top {
                width: 43px;
                margin: 0 auto;
                padding-top: 50px;
            }
            
            }
            .bg_1 {
                background-color: #4eb2f7;
            }
            .bg_2 {
                background-color: #c049f8;
            }
            .bg_3 {
                background-color: #817eff;
            }
            .bg_4 {
                background-color: #f74770;
            }
            .card-title {
                font-size: 20px;
                color: white;
                text-align: center;
            }
            .card-text {
                font-size: 15px;
                color: white;
                text-align: center;
            }

            button {
                width: 220px;
                height: 55px;
                border-radius: 27px;
                background-color: #ffffff;
                box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);                
                border: none;
                margin: 30px;
                color: #00000088;

                &::before{                    
                    content: url(./image/add.png);
                    padding-right: 15px;           
                    vertical-align: middle; 

                }
            }
        }
    
        .featured_work {
            height: 1611px;
            padding: 0 150px;

                .row{
                    padding-top: 113px;
                .card {
                    background-color: rgb(255, 92, 54);
                    width: 360px;
                    height: 360px;
                }
            }
        }

        .services {
            height: 927px;
            padding: 0 150px;
            background: #ffffff;

            .row {
                justify-content: space-between;
                width: 100%;
                height: 400px;
                margin-top: 130px;
            

            .card {
                border: none;
                li{
                    width: 104px;
                    height: 92px;
                    background-color: rgb(251, 251, 251);
                    box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.14);
                    margin-bottom: 10px;
                    img {
                        padding: 20px 30px;
                    }
                } 
            }
            .col-img {
                width: 200px;
            }
            .col-text {
                width: 500px;
                hr{
                    width: 60px;
                    height: 3px;
                    color: #ff5c36;
                    opacity: 1;
                    margin: 0 0 20px 0;
                }
                button {
                    width: 220px;
                    height: 55px;
                    border-radius: 27px;
                    background-color: #ffffff;
                    box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);                
                    border: none;
                    margin-top: 40px;
                    color: #00000088;
    
                    &::before{                    
                        content: url(./image/add.png);
                        padding-right: 15px;           
                        vertical-align: middle; 
    
                    }
                }
            }
            .col-img-watch {
                width: 360px;
            }
            h3{
                font-size: 30px;
            }
        
        }
            }
 
         
              
        .team {
            height: 964px;
            padding: 0 150px;

            .card {
                width: 360px;
                height: 445px;
                background-color: rgb(255, 92, 54);
                box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
                border: none;

                  
            }
            .bg_ux {
                background-color: #fff3f0;
                
                .graf {
                    width: 150px;
                    height: 100px;
                    border: 1px solid black;
                    text-align: center;
                    font-size: 10px;
                    margin: 190px auto;
                    
                    p {
                        margin: 5px;
                    }
                    .bg-line {
                        background: rgba(0, 0, 0, 0.5);
                    }

                    .placeholder {
                        display: block;
                        min-height: 4px;
                        cursor: none;
                        color: rgb(255, 92, 54);
                        opacity: 1;
                    }
                }
                .ui-des {
                    width: 262px;
                    height: 95px;
                    margin: 50px 0 0 -50px;

                    p:first-child {
                        font-size: 30px ;
                        color: #6f6f6f;
                    }
                    p:nth-child(2) {
                        font-size: 16px ;
                        color: #ff724c;
                    }
                    ul {
                        padding: 5px 0 ;
                        li {
                            display: inline-block;
                            padding-right: 10px;

                        }
                    }
                

                
                }
                }

            .btn-ux {
                width: 262px;
                height: 95px;
                border-radius: 0px;
                border-radius: 2px;
                box-shadow: 0px 6px 16px 0px rgba(20, 20, 21, 0.08);
                font-size: 30px;
                margin: 375px 50px 0 40px;

                    &::before{                    
                        content: none;
                    }
                    label {
                        display: block;
                        font-size: 16px;
                    }
            }
        }

        .client_said {
            height: 823px;
            padding: 0 150px;
            background-color: #ffffff;

            .carousel-indicators {
                .active {
                    background-color: #ff6e47 !important;
                }
                button {
                    background-color: #e0e0e0 !important;
                    width: 30px;
                    height: 3px;
            }
        }

            .carousel-inner {
                margin-top: 80px;

                .carousel-item {
                    width: 100%;
                    height: 380px;

                    .row {
                        width: 100%;
                        height: 271px;

                        .review {
                            width: 100%;
                        height: 270px;
                        border: 1px solid rgb(255, 255, 255);
                        box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
                        padding: 0px;
                        }
                        .col {
                            margin: 0px;
                        }
                        .circle-photo{
                            width: 97px;
                            height: 97px;
                            border-radius: 50%;
                            background-color: rgb(255, 255, 255);
                            border: 1px solid rgba(0, 0, 0, 0.3);
                            margin: -50px auto 50px auto;
                        }
                    }
                }
            }
        }



        .logo {
            padding: 0 150px;
            height: 200px;
            
                .wrap {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 80px;
                }
        }

        .footer {
            height: 290px;
            padding: 0 150px;
            background-color: #ffffff;

                button {
                    margin: 50px 500px;
                    width: 220px;
                    height: 55px;
                    border-radius: 27px;
                    background-color: #ffffff;
                    box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
                    border: 1px solid rgba(0, 0, 0, 0.07);                        
                    color: #000;
                    font-size: 16px;
                    font-family: Open Sans;       
                }

                ul{
                    width: 520px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 !important;
                    margin: 0 auto;

                    li:nth-child(1){
                        a{
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            background-color: #d3d3d3;
                            background: url(./image/fw_white.png) #ff6e47 center no-repeat;
                        }
                    }
                    li:nth-child(2){
                        a{
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            background-color: #d3d3d3;  
                            background: url(./image/twit_white.png) #d3d3d3 center no-repeat;
                        }
                    }
                    li:nth-child(3){
                        a{
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            background-color: #d3d3d3;  
                            background: url(./image/bal_white.png) #d3d3d3 center no-repeat;
                        }
                    }
                    li:nth-child(4){
                        a{
                            width: 52px;
                            height: 52px;
                            border-radius: 50%;
                            background-color: #d3d3d3;  
                            background: url(./image/be__white.png) #d3d3d3 center no-repeat;
                        }
                    }
                    li:nth-child(5){
                        a{
                            text-decoration: none;
                            color: #898989;
                            font-size: 17px;
                            font-family: Open Sans;  
                        }
                    }
                    li:not(:last-child) {
                        display: flex;


                      
              
                        
                    }
                 
                }
             

        }
    }

